In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('energydata_complete.csv')

In [3]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [17]:
from sklearn.linear_model import LinearRegression           
from sklearn.model_selection import train_test_split       

from sklearn.metrics import r2_score                 

livingroom = data['T2']
outsidebuilding = data['T6']
livingroom = np.array(livingroom)
livingroom = livingroom.reshape(-1,1)
x_train, x_test, y_train, y_test = train_test_split(livingroom, outsidebuilding, train_size=0.7, test_size = 0.3, random_state=32)
model = LinearRegression()
model.fit(x_train,y_train)
prediction = model.predict(x_test)

print(r2_score(y_test,prediction))

0.6392318197700249

In [22]:
from sklearn.preprocessing import MinMaxScaler 
from sklearn.metrics import mean_absolute_error          

new_data = data.drop(['lights', 'date'], axis = 1)
scale = MinMaxScaler()

normal_data = pd.DataFrame(scale.fit_transform(new_data), columns = new_data.columns)
X= normal_data.drop(columns = ['Appliances'], axis=1)
y= normal_data['Appliances']

x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size = 0.3, random_state=42)

model2 =LinearRegression()
model.fit(x_train,y_train)
pred = model.predict(x_test)

print(mean_absolute_error(y_test,pred))

0.050133623977429535

In [26]:
print(np.sum(np.square(y_test - pred)))

45.34762967266377

In [27]:
from sklearn.metrics import mean_squared_error          

print(np.sqrt(mean_squared_error(y_test, pred)))

0.0875144494766171

In [35]:
print(r2_score(y_test,pred))

0.14890246319303535

In [43]:
min(model.coef_)

-0.4566979483384993

In [44]:
for x,y in zip(list(model.coef_),list(x_train.columns)):
    print(x,'........',y)

-0.003281051194345231 ........ T1
0.5535465998386385 ........ RH_1
-0.23617791869490973 ........ T2
-0.4566979483384993 ........ RH_2
0.29062713749703456 ........ T3
0.09604827330604826 ........ RH_3
0.028980998554440834 ........ T4
0.026385776891802323 ........ RH_4
-0.015656842778629 ........ T5
0.01600578842813383 ........ RH_5
0.2364249088665083 ........ T6
0.03804865205895047 ........ RH_6
0.010318776387943762 ........ T7
-0.04461363736108863 ........ RH_7
0.10199504524367473 ........ T8
-0.1575954775901317 ........ RH_8
-0.18994077300830728 ........ T9
-0.0398003166168215 ........ RH_9
-0.3218596681300843 ........ T_out
0.00683932638276585 ........ Press_mm_hg
-0.07767065318166684 ........ RH_out
0.029183129198429938 ........ Windspeed
0.01230660897681089 ........ Visibility
0.11775773489644295 ........ Tdewpoint
0.000770098133176537 ........ rv1
0.0007700981331768423 ........ rv2

In [46]:
from sklearn.linear_model import Ridge


ridge = Ridge(alpha=0.4)

ridge.fit(x_train,y_train)
predictions2 = ridge.predict(x_test)


print(np.sqrt(mean_squared_error(y_test, predictions2)))

0.08753385704628003

In [51]:
from sklearn.linear_model import Lasso 

lasso = Lasso(alpha=0.001)

lasso.fit(x_train, y_train)

#predict the model
predictions3 = lasso.predict(x_test)

print(lasso.coef_)
print(np.sqrt(mean_squared_error(y_test, predictions3)))

[ 0.          0.01787993  0.         -0.          0.          0.
 -0.          0.         -0.          0.          0.         -0.
 -0.         -0.          0.         -0.00011004 -0.         -0.
  0.         -0.         -0.04955749  0.00291176  0.          0.
 -0.         -0.        ]
0.09358170467245137